PASSWORD=123
JWT_SECRET=replace-with-a-long-random-secret
DATABASE_URL="file:../../../packages/db/prisma/dev.db"

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
